body {
  background: #121212;
  text-align: center;
}

h1, h2, p {
  color: white;
}

label {
  color: white;
  font-size: 1em;
}

input {
  width: 0%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #C0C0C0;
  transition: width 0.4s ease-in-out;
}

input:focus {
    width: 100%;
  }

input[type=submit] {
  width: 30%;
}

@media only screen and (min-width: 480px) {
  input {
    width: 70%;
    border:2px solid #0040FF;
  }
  
  input:focus {
    width: 70%;
  }
  
  input[type=checkbox] {
    padding: 0;
    transition: none;
    width: 1%;
  }
  
  input[type=checkbox]:focus {
    width:none;
  }
}

@media only screen and (min-width: 992px) {
  input {
    width: 0%;
    border:2px solid #C040FF;
  }
  
  input[type=submit] {
    width: 10%;
  }
  
  input:focus {
    width: 40%;
  }
  
  input[type=checkbox] {
    padding: 0;
    transition: none;
    width: 1%;
  }
  
  input[type=checkbox]:focus {
    width:none;
  }
  
  input[type=submit]:focus {
    width:10%;
  }
}