body {
  background: #17223b;
  text-align: center;
}

h1, p {
  color: white;
  margin-top: 5px;
}

h2 {
  color: white;
  font-size: 1.5em;
  padding: 5px 5px;
}

label {
  color: white;
  font-size: 1.5em;
}

input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #6b778d;
  transition: width 0.4s ease-in-out;
  color: white;
}

input:focus {
    width: 100%;
  }

input[type=submit] {
  width: 30%;
}

input[type=checkbox] {
    transition: none;
    width:30px;
    height:30px;
    border-radius:5px;
    border:2px solid #555;
}

@media only screen and (min-width: 480px) {
  input {
    width: 70%;
    border:2px solid #ff6768;
  }
  
  input:focus {
    width: 70%;
  }
  
  input[type=checkbox] {
    transition: none;
    width:30px;
    height:30px;
    border-radius:5px;
    border:2px solid #555;
  }
  
  input[type=checkbox]:focus {
    width:none;
  }
}

@media only screen and (min-width: 992px) {
  input {
    width: 10%;
    border:2px solid #ff6768;
  }
  
  input[type=submit] {
    width: 10%;
  }
  
  input:focus {
    width: 30%;
  }
  
  #Inspirational_quote {
    position: absolute;
    right: 150px;
    font-size: 3em;
    height: 400px;
    width: 400px;
  }
  
  #Inspirational_quote2 {
    position: absolute;
    left: 150px;
    font-size: 2em;
    height: 400px;
    width: 400px;
  }
  
  input[type=checkbox] {
    transition: none;
    width:30px;
    height:30px;
    border-radius:5px;
    border:2px solid #555;
  }
  
  input[type=checkbox]:focus {
    width:none;
  }
  
  input[type=submit]:focus {
    width:10%;
  }
}